<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
    <script src="./index.js"></script>
    <script src="./new.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            height: 100vh;
        }

        .barrgger {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .barrggerItem {
            background: rgba(0, 0, 0, 0.5);
            padding: 15px 25px;
            border-radius: 50%;
        }

        .test[data-name='123'] {
            color: red;
        }
    </style>
</head>

<body>
    <div id="mvvm-app">
        <input type="text" v-model="someStr">
        <input type="text" v-model="child.someStr">
        <p>{{getHelloWord}}</p>
        <p v-text='getHelloWord'>
            {{getHelloWord}}
        </p>
        <p v-html="htmlStr"></p>
        <button class="btn btn-primary" v-on:click="clickBtn">
            改变内容
        </button>
    </div>
    <script>
        var vm = new Captain({
            el: '#mvvm-app',
            data: {
                someStr: 'hello',
                htmlStr: '<span style="color: pink;">测试：v-html</span>',
                child: {
                    someStr: 'World'
                }
            },
            computed: {
                getHelloWord: function () {
                    return this.someStr + ' ' + this.child.someStr;
                }
            },
            methods: {
                clickBtn() {
                    var randomStrArr = ['childOne', 'childTwo', 'childThree'];
                    this.child.someStr = randomStrArr[parseInt(Math.random() * 3)];
                    for (let i in this._data) {
                        console.log(this._data[i])
                    }
                }
            }
        });
    </script>
</body>

</html>