<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
    <script src="./new.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            height: 100vh;
        }
        #app {
            width: 300px;
            margin:100px auto 0;
            border: 1px solid #000;
            padding: 30px;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="text" v-model="hello">
        <input type="text" v-model="world">
        <p class="bg-primary">
            {{hello}}
        </p>
        <p class="bg-success">
            {{world}}    
        </p>        
        <p>{{computeds}}</p>
        <p v-html="html"></p>
        <button class="btn btn-primary" v-on:click="clickBtn">
            事件绑定测试
        </button>
    </div>
    <script>
        var vm = new Captain({
            el: '#app',
            data: {
                hello: 'hello',
                world: 'world',
                a: '计算',
                b: '属性',
                html: '<span style="color: pink;">测试：v-html</span>',
                child: {
                    name: '我是子属性的名字'
                }
            },
            computed: {
                computeds: function () {
                    return this.a + ' ' + this.b;
                }
            },
            methods: {
                clickBtn() {
                    alert('v-on：click')
                }
            }
        });
    </script>
</body>

</html>